*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Seymour One", "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  margin-top: 0;
  margin-bottom: 0;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.about {
  display: block;
  margin: 0 auto;
  background-color: #84a178;
  padding-top: 61px;
  padding-bottom: 64px;
}
.about__label {
  width: 210px;
  margin: 0 auto 12px auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #fcfcfc;
}
.about__title {
  width: 200px;
  margin: 0 auto 32px auto;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}

.thumb {
  position: relative;
  margin: 0 auto 62px auto;
  width: 279px;
  height: 278px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(248, 210, 78, 0.7)), to(rgba(248, 210, 78, 0.7))), #d9d9d9;
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  -webkit-box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
          box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;
}
.thumb__imagen {
  position: absolute;
  margin: 0 auto;
  top: 22px;
  border-radius: 140px;
}

.description {
  display: block;
}
.description__text {
  width: 220px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fcfcfc;
}
.description__text--first {
  margin-bottom: 4px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}
.description__text--second {
  margin-bottom: 10px;
  line-height: 1.62;
}
.description__text--third {
  display: none;
}

.about-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 51px 12px 34px;
  margin: 0 auto 50px auto;
  background-color: #f8d24e;
  border-radius: 10px;
  border: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-button:hover {
  background: #0a8817;
}
.about-button:focus {
  background: #0a8817;
  color: #fcfcfc;
}
.about-button:focus .about-button__icon {
  fill: #fcfcfc;
}
.about-button__icon {
  position: absolute;
  top: 15px;
  right: 35px;
  bottom: 15px;
  left: 117px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advantages {
  display: block;
  margin: 0 auto;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
}
.advantages__item:not(:last-child) {
  margin-bottom: 22px;
}
.advantages__cow {
  position: relative;
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
}
.advantages__cow::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/cow.png);
}
.advantages__weight {
  position: relative;
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
}
.advantages__weight::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/weight.png);
}
.advantages__ice-crema {
  position: relative;
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
}
.advantages__ice-crema::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-image: url(../images/ice-crema.png);
}
.advantages__index {
  margin: 16px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
.advantages__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #fcfcfc;
}/*# sourceMappingURL=main.css.map */